@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
svg {
  block-size: auto;
  max-inline-size: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --ff-main: "Bai Jamjuree", sans-serif;
  --fw-medium: 400;
  --fw-bold: 600;

  --fs-extra-small: 85%;
  --fs-small: 95%;

  --cm-primary: hsl(171, 66%, 44%);
  --cm-primary-accent: hsl(171, 48%, 56%);
  --cm-secondary: hsl(233, 100%, 69%);
  --cm-secondary-accent: hsl(233, 97%, 72%);
  --ca-cyan: hsl(171, 68%, 34%);
  --ca-blue: hsl(233, 61%, 56%);
  --cm-white: hsl(0, 0%, 100%);
  --cf-heading: hsl(210, 10%, 33%);
  --cf-paragraph: hsl(201, 11%, 66%);
  --container-spacing: clamp(0px, 7%, 5em);
  --spacing-100: 1rem;
  --spacing-200: 1.5rem;
  --spacing-300: 2rem;
  --spacing-400: 2.5rem;
  --spacing-500: 3rem;
  --spacing-600: 4rem;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--cf-paragraph);
}

a:hover {
  color: var(--cm-primary);
}

body {
  font-family: var(--ff-main);
  font-size: 100%;
  background: no-repeat top right url(../images/bg-header-mobile.png);
  line-height: 1.5;
}

.logo {
  display: inline-block;
  height: 6rem;
  width: 6rem;
  background: no-repeat url(../images/logo.svg);
  background-size: 6rem;
  margin-block-end: 2rem;
}

.logo--small {
  height: 3rem;
  width: 3rem;
  background-size: 3rem;
  margin-block-end: 0;
}

main,
.section {
  margin-inline: var(--container-spacing);
  display: grid;
  text-align: center;
  justify-items: center;
  gap: var(--spacing-100);
  margin-block-end: 6rem;
}

main {
  margin-block-start: 6rem;
}

.section {
  gap: var(--spacing-400);
}

.section__item {
  display: grid;
  gap: 0.5rem;
  justify-items: center;
}

p {
  color: var(--cf-paragraph);
  font-size: var(--fs-small);
}

h1 {
  font-size: 1.8rem;
}

h1,
h2 {
  color: var(--cf-heading);
}

.btn-wrapper {
  width: 100%;
  display: grid;
  gap: var(--spacing-100);
}

.btn {
  width: 100%;
  border: none;
  color: var(--cm-white);
  font-weight: var(--fw-bold);
  letter-spacing: 0.02em;
  padding: 1em 0 1em 0;
  border-radius: 2rem;
  font-size: var(--fs-extra-small);
  cursor: pointer;
}

.btn--cyan {
  background-color: var(--cm-primary);
  border-bottom: 3px solid var(--ca-cyan);
}

.btn--cyan:hover {
  background-color: var(--cm-primary-accent);
}

.btn--blue {
  background-color: var(--cm-secondary);
  border-bottom: 3px solid var(--ca-blue);
}

.btn--blue:hover {
  background-color: var(--cm-secondary-accent);
}

.section__group {
  display: grid;
  gap: var(--spacing-500);
  margin-block-start: var(--spacing-300);
}

.section__item--wimage img {
  margin-block-end: var(--spacing-200);
}

.brand-carousel {
  gap: var(--spacing-600);
}

.link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-100);
}

.social-wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-300);
}

.social-wrapper a {
  display: inline-block;
  background-size: 1.2rem;
}

svg {
  fill: #4c545c;
}

svg:hover {
  fill: var(--cm-primary) !important;
}

footer {
  margin-block-start: 8rem;
  margin-block-end: 0;
}

.col-2__special {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
}

@media (min-width: 1400px) {
  body {
    background: no-repeat top right url(../images/bg-header-desktop.png);
  }

  .btn-wrapper {
    display: flex;
    width: auto;
    white-space: nowrap;
  }

  .btn {
    padding-inline: 3em;
  }

  .col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-inline: 0;
    grid-column-gap: var(--spacing-500);
  }

  .col-2 p {
    width: 55% !important;
  }

  .col-2 > div:first-child {
    grid-column: 1 / 3;
  }

  .col-2__special {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3rem;
  }

  .col-2__special .section__item {
    justify-items: start;
    text-align: start;
    width: 100%;
  }

  .picture--cut {
    margin-inline-start: -3.2rem;
  }

  .section__item > p {
    width: 75%;
  }

  .section__group {
    grid-template-columns: repeat(3, 1fr);
  }

  .brand-carousel {
    grid-template-columns: repeat(5, 1fr);
    padding-block: var(--spacing-500);
  }

  footer {
    grid-template-columns: repeat(3, 1fr);
    margin-block-end: var(--spacing-300) !important;
    margin-inline: 0 !important;
  }

  .link-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
    white-space: nowrap;
  }
}
